<header class="header" id="header">
    <div class="navbar">
        <div class="navbarContent">
            <div class="navbarContent">
                <a class="navbarContentBrand" href="#">Hardcore To Do List</a>
                <form class="formSearchTodo">
                    <input class="navbarContentSearch" id="navbarContentSearch" type="text" name="search" placeholder="Pesquisar tarefa" autocomplete="off">
                </form>
            </div>
        </div>
    </div>
</header>