<header class="header" id="header">
    <div class="navbar">
        <div class="navbarContent">
            <div class="navbarContent">
                <a class="navbarContentBrand" href="#">Hardcore To Do List</a>
                <form class="navbarContentSearch" action="">
                    <input type="search" id="search" placeholder="Pesquisar tarefa">
                </form>
            </div>
        </div>
    </div>
</header>