<section id="message" class="message message-<%= type %>">
    <p class="messageText">
        <%= message %>
    </p>
    <span class="messageClose" id="messageClose"><i class="bi bi-x-lg"></i></span>
</section>